:root {
  --green: #678024;
  --snow:#fffafa;
  --Ivory:#FFFFF0;
  --DarkSlateGray:#2F4F4F;
  --Gainsboro:#DCDCDC;
  --grey: #454839;
  --light-grey: #A9AD9B;
  --background-green-opacity: rgba(103, 128, 36, 0.4);
  --background-snow: rgb(255,250,250);
  --social-blu: #0d6efd;
  --social-red: #dc3545;
}

body {
  background: var(--Ivory);}

#logo-social {width: 70px;/ height: auto;}

h1,
h2,
h4,
h5{color:DarkSlateGray;
  font-family: 'Croissant One', cursive;
  },
h6{color: var(--DarkSlateGray);testo
  text-align: center; font-size:25px},
p {color: var(--DarkSlateGray);testo
  text-align: center;}
#logo-che{ width: 120px; height: auto; }
.odd-container {
  margin: 6px;
  background-color: var(--background-snow-opacity);
}

.even-container {
  margin: 5px;
  background-color: var(--background-green-opacity)
  ;
}

.container-space {
  height: 70px;font-size:30px;
}

.odd-container,
.even-container {
  padding: 20px;
}

.contatti-container {
  margin-bottom: 70px;
}

.navbar-dark {
  background-color: var(--DarkSlateGray);
}

.navbar-brand,
.navbar-nav .nav-link.active {
  font-size:25px; font-weight: lighter;
  color: var(--Ivory);  testo barra
}
.navbar-brand{font-family: 'Croissant One', cursive;}

.dropdown-menu {
  animation: 0.5s slideup;
}

.card {
  background-color: var(--Gainsboro);color:DarkSlateGray;font-size:17px;
}

@keyframes slideup {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0);
  }
}

/*** SOCIAL ***/
.bi-facebook,
.bi-linkedin {
  color: var(--social-blu);
}

.bi-instagram {
  color: var(--social-red);
}

/*** CAROUSEL ***/
.carousel-gallery .carousel-inner .carousel-item>img {
  height: auto;
}

.carousel-servizi .carousel-inner .carousel-item .carousel-item>img{
  height: 100%;
}

/*** FOOTER ***/
a {
  color: var(--grey);
}

a:hover {
  color: var(--DarkSlateGray);
  text-decoration: none;
}

::selection {
  background: var(--DarkSlateGray);
  text-shadow: none;
}

.copyright-box {
  text-align: left;
}

footer {
  padding: 2rem 0;
  background-color: var(--Gainsboro)
}

.footer-item {
  color: var(--DarkSlateGray);
}

.footer-column:not(:first-child) {
  padding-top: 2rem;

  @media (min-width: 768px) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}

.nav-link {
  padding: 0.1rem 0;
}

span.nav-link {
  color: var(--DarkSlateGray);
}

span.footer-title,
a.footer-title {
  text-decoration: none;
  font-size: 20px;
  color: var(--green);
  font-family: 'Croissant One', cursive;
  text-transform: uppercase;
}

.fas {
  margin-right: 0.5rem;
}


ul {
  display: inline-block;

  @media (min-width: 768px) {
    text-align: left;
  }
}


ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: var(--DarkSlateGray);
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: var(--green);
  border-radius: 100%;
  outline: 0;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
}

.copyright {
  color: var(--DarkSlateGray);
}

.fa-ellipsis-h {
  color: var(--DarkSlateGray);
  padding: 2rem 0;
}

.img-servizi{
  padding: 2px;
  border-radius: 10px;
  height: 250px;
}

.card-title{
  min-width: 150px; font-size:20px
}
